<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="33" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.NOTIFICATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYapp_2"
        tools:targetApi="31">
        <activity
            android:name="com.example.myapp_2.UI.view.activities.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myapp_2.UI.view.activities.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myapp_2.UI.view.activities.ReserveTableActivity"
            android:exported="false" />
        <activity
            android:name="com.example.myapp_2.UI.view.activities.MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.myapplication_2.SEND_MESSAGE" />
                <action android:name="com.example.action.OPEN_FIRST_FRAGMENT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.myapp_2.Data.MyService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />




    </application>

</manifest>